@charset "UTF-8";

body{
    background-color: rgb(44, 133, 185);
    font: normal 15pt Arial;
}

header {
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 220px auto;
    margin: auto;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.63);;
}

footer {
    text-align: center;

}

footer > p {
    color: white;
    font-style: italic;
}

h1 {
    color: white;
} 

div {
    padding: 10px;
}

select#flista {
    width: 150px;
    margin-top: 20px;
    margin-bottom: -25px;
}



